@inject IConfiguration Configuration
@using Microsoft.Extensions.Configuration
@model IEnumerable<EvergreenAPI.Models.Thumbnail>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Thumbnail management";
}

@section Styles {
    <style>
        #grid-container {
            column-count: 4;
            column-gap: 10px;
            margin-bottom: 2rem;
        }

        img {
            max-width: 100%;
            display: block;
        }

        figure {
            display: grid;
            grid-template-rows: 1fr auto;
            margin: 0 0 10px;
            break-inside: avoid;
            position: relative;
            overflow: hidden;
        }

            figure > img {
                grid-row: 1 / -1;
                grid-column: 1;
            }

            figure a {
                color: black;
                text-decoration: none;
            }

            figure:hover .inner {
                bottom: 0;
                user-select: auto;
                opacity: 1;
                transition: all 0.4s cubic-bezier(0.88, 0.27, 0.17, 0.92);
            }

        .inner {
            position: absolute;
            opacity: 0;
            user-select: none;
            bottom: -100px;
            left: 0;
            width: 100%;
            background: rgba(0, 0, 0, 0.8);
            color: white !important;
            padding: 6px;
            border-radius: 8px;
        }

            .inner p {
                padding: 6px 6px 0 6px;
                margin-bottom: 0;
            }

        .card-btn {
            padding: 0.4rem;
            color: white !important;
            cursor: pointer;
            transition: 0.2s ease;
            text-decoration: none !important;
        }

            .card-btn.update:hover {
                color: dodgerblue !important;
            }

            .card-btn.delete:hover {
                color: rgb(255, 74, 74) !important;
            }
    </style>
}

<a asp-action="Create" class="btn btn-primary mb-2"><i class="fa fa-plus fa-fw"></i> Create new thumbnail</a>
<div id="grid-container">
    @foreach (var item in Model)
    {
        var apiUrl = item.Url.StartsWith("http") ? "" : $"{Configuration["BaseUrl"]}/";
        var src = apiUrl + item.Url;
        <figure>
            <!--suppress HtmlDeprecatedAttribute -->
            <img alt="@item.AltText" onerror="this.onerror=null;this.src='https://i.imgur.com/MP8rmmN.png';" src="@Url.Content(src)"/>
            <div class="inner">
                <p class="text-ellipsis">@item.AltText</p>
                <div class="d-flex align-items-center">
                    <a class="card-btn update mr-2" asp-action="Update" asp-route-id="@item.ThumbnailId">
                        <i class="far fa-edit"></i>
                    </a>
                    <a class="card-btn delete" asp-action="Delete" asp-route-id="@item.ThumbnailId">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </div>
            </div>
        </figure>
    }
</div>