@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@model EvergreenAPI.Models.Blog
@using System.Net

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = Model.Title;
    var thumbUrl = Configuration["BaseUrl"] + "/" + Model.Thumbnail.Url;
}

<div class="container text-dark">
    <div class="card card-outline-secondary">
        <div class="card-header">
            <h4 for="exampleFirst">Blog Title: @Model.Title</h4>
        </div>
        <div class="card-body">
            <div class="container">
                <article>
                    <header class="mb-4">
                        <div class="text-muted fst-italic mb-2">Posted on @Model.LastModifiedDate</div>
                    </header>
                    <section class="mb-5 text-dark">
                        <p class="fs-5 mb-4">@Model.Description</p>
                    </section>
                    <figure class="mb-4">
                        <img alt="Thumbnail" style="width: 100%; height: 400px; object-fit: cover;" src='@thumbUrl' data-holder-rendered="true">
                    </figure>
                    <section class="mb-5 text-dark">
                        <div>
                            @Html.Raw(WebUtility.HtmlDecode(Model.Content))
                        </div>
                    </section>
                </article>
            </div>

            <div class="card-footer">
                <div class="justify-content-between">
                    <a asp-action="AdminIndex" class="btn btn-success px-5"> Back To List</a>
                    <a asp-action="Delete" asp-route-id="@Model.BlogId" class="btn btn-danger px-5">
                        <i class="far fa-trash-alt"></i>
                    </a>
                    <a asp-action="Edit" asp-route-id="@Model.BlogId" class="btn btn-warning px-5">
                        <i class="fas fa-edit"></i>
                    </a>

                </div>

            </div>
        </div>
    </div>
</div>