@using Microsoft.Extensions.Configuration
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model EvergreenAPI.Models.Disease
@inject IConfiguration Configuration
@{
    ViewData["Title"] = "Delete " + Model.Name;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var thumbUrl = Configuration["BaseUrl"] + "/" + Model.Thumbnail.Url;
}

<link href="
https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.min.css" rel="stylesheet">

<div class="container">
    <div class="card card-outline-secondary">
        <div class="card-header">
            <h4 for="exampleFirst">Are you sure you want to delete @Model.Name ?</h4>
        </div>
        <div class="card-body">
            <div class="row mt-4  justify-content-center">
                <div class="col-md-6">
                    <div>
                        <div>
                            <div class="img-hover-zoom flex-auto d-none d-md-block card-img-right" style="width: 400px; height: 400px; border-top-right-radius: 0.25rem; border-bottom-right-radius: 0.25rem;">
                                <img alt="Thumbnail" style="width: 100%; height: 400px; object-fit: cover;" src='@thumbUrl' data-holder-rendered="true">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-sm-12 pb-3">
                        <label for="exampleCity">Medicine :</label>
                        <a asp-action="AdminDetails" asp-route-id="@Model.MedicineId">@Model.Medicine.Name</a>
                    </div>
                    <div class="col-sm-12 pb-3">
                        <label for="exampleCity">Treatment :</label>
                        <a asp-action="AdminDetails" asp-route-id="@Model.TreatmentId">@Model.Treatment.TreatmentName</a>
                    </div>
                    <div class="col-sm-12 pb-3">
                        <label for="exampleCity">Identification :</label>
                        <p>@Model.Identification</p>
                    </div>

                    <div class="col-sm-12 pb-3">
                        <label for="exampleCity">Affect :</label>
                        <p>@Model.Affect</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="justify-content-between">
                <form asp-action="Delete" method="post">
                    <input type="hidden" asp-for="DiseaseId"/>
                    <input type="submit" value="Delete" class="btn btn-danger"/>
                    <a asp-action="AdminIndex" class="btn btn-success"> Back To List </a>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.all.min.js"></script>
@if (TempData["error"] != null)
{
    <script>
        window.onload = () => {
            Swal.fire({
                position: 'center',
                icon: 'error',
                title: '@TempData["error"]',
                showConfirmButton: false,
                timer: 1500
            })
        }
    </script>
}